<header class="logo">
    <h1 class="logo__title">
    	<a href="{{@blog.url}}" class="logo__link">{{@blog.title}}</a>
    </h1>
    {{#if @blog.description}}
    <h2 class="logo__desc">{{@blog.description}}</h2>
    {{/if}}
</header>